.dishCategory-page {
	background-color: #fff;
}
@media all and (min-width: 992px) {
	nav {
		position: static !important;
		background-color: #c00a27 !important;
	}
}

.filtering-section span {
	font-size: 0.8rem;
}

.dishCardOnHover {
	display: none;
}

.dishCardOnHover p {
	font-size: 0.8rem;
}

.dishCard.hovered {
	transition: all 0.2s ease-in;
}

.dishCard.hovered:hover {
	position: relative;
	transform: scale(1.01);
	transition: all 0.2s ease-in;
}

.dishCard.hovered:hover .dishCardGridImg {
	transform: scale(1.3);
	transition: all 0.4s ease-out;
}
.dishCard.hovered:hover .dishCardOnHover {
	position: absolute;
	display: block;
}
.dishCard.hovered>h5,
.dishCard.hovered>span.text-secondary {
	transform: scale(1);
	transition: all .3s ease-in;
}

.dishCard.hovered:hover>h5 {
	transition: all .3s ease-in;
	transform: scale(0) translateY(-40px);
}

.dishCard.hovered:hover>span.text-secondary {
	visibility: collapse;
}

.dishCard.hovered:hover .dishCardOnHover {
	transform: translateY(-50px);
}