@import url("https://fonts.googleapis.com/css2?&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

body {
	margin: 0;
	font-family: Unbounded, "Open Sans", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit !important;
	text-decoration: none !important;
}
